accelerate==1.9.0
chromadb==1.0.15
fastapi==0.116.1
google-generativeai==0.8.5
kubernetes==33.1.0
lxml==6.0.0
onnxruntime==1.22.1
posthog==5.4.0
PyMuPDF==1.26.3
python-pptx==1.0.2
scikit-learn==1.7.1
sentence-transformers==5.0.0
torch==2.7.1
transformers==4.55.0
uvicorn==0.35.0
xlsxwriter==3.2.5
python-dotenv==1.0.0